#changelist {
    background: #111a;
    color: #fff;
    font-family: Ubuntu;
    font-size: 2vh;
    /* max-width: 80vh; */
    position: absolute;
    top: 50%;
    right: 2vh;
    transform: translate(0%, -50%);
    width: 90vh;
    /* width: fit-content; */
}

#changelist .close {
    position: absolute;
    right: 0.5vh;
}

#changelist .close:hover {
    color: red;
}

#changelist .close.left {
    left: 0.5vh;
    right: unset;
}

#changelist .content {
    background: #000a;
    color: #948c87;
    height: 50vh;
    line-height: 3.5vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1vh;
}

#changelist .content > div {
    align-items: center;
    display: flex;
}

#changelist .content > div > span {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 1.5vh;
    justify-content: center;
    /* height: 3vh; */
    margin-right: 1vh;
    padding: 0.5vh;
    /* width: 3vh; */
}

#changelist .content .build {
    bottom: 0;
    color: #fff5;
    font-size: 1.5vh;
    position: absolute;
    right: 2vh;
}

#changelist .content .build:hover {
    color: #fff;
}

#changelist .content .features {
    background: #309aec;
}

#changelist .content .fixed {
    background: #08a208;
}

#changelist .content .improvements {
    background: #d617a9;
}

#changelist .content .removed {
    background: #cd452b;
}

#changelist .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 3.5vh;
    padding: 1vh;
}

#changelist .header .arrow {
    background: #000a;
    /* font-family: monospace; */
    font-size: 1.5vh;
    padding: 0 0.5vh;
}

#changelist .header .arrow:hover {
    background: #eee;
    color: #000;
}

#changelist .header .date.center {
    text-align: center;
}

#changelist .header .date.right {
    text-align: right;
}

#changelist .header .name {
    font-family: Open Sans;
    font-size: 3vh;
    font-weight: 900;
}

#changelist ::-webkit-scrollbar {
    width: 0.5vh;
}

#changelist ::-webkit-scrollbar-thumb {
    /* border-width: 1px 1px 1px 2px; */
    /* border-color: #222; */
    background-color: #f1d941;
}
