
#map-case .ng .verification .btns .btn:hover {
    background-color: #DDB27F;
    box-shadow: 0 0 10px rgba(221, 178, 127, 0.5);
}

#map-case .ng .menu .header,
#map-case .ng .menu .menu-body .menu-item.focus,
#map-case .ng .menu .menu-body .menu-item:hover,
#map-case .ng .window .table .tbody .record .btn,
#map-case .ng .window .members .action-modal .btn:hover {
    background-color: #DDB27F;
}

#map-case .ng .window .table .tbody .record:hover,
#map-case .ng .window .table .tbody .record.focus {
    background-color: #DDB27F;
    color: #fff;
}
