#playersList {
    width: 80vh;
    height: 50vh;
    font-size: 120%;
    color: white;
    background: rgba(0, 0, 0, 0.803);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
}

#playersList table {
    width: 100%;
    overflow: auto;
    border: 1px solid white;
}

#playersList thead {
    font-size: 140%;
    background: rgba(255, 255, 255, 0.39);
    color: black;
    display: table-header-group;
}

#playersList th {
    padding: 1%;
}