#playersList {
    width: 80vh;
    height: 50vh;
    font-size: 120%;
    color: white;
    background: rgba(0, 0, 0, 0.803);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    /* overflow: auto; */
}

.players_list-head {
    height: 10%;
}

.players_list-body {
    height: 91%;
    overflow: auto;
    margin-top: -.8%;
}

/* tr:nth-child(2n) {
    background: #f0f0f0;
} 

tr:nth-child(1) {
    background: #666;
    color: #fff;
}  */

#playersList table {
    width: 100%;
    /* overflow: auto; */
    border: 1px solid white;
}

#playersList thead {
    font-size: 140%;
    background: rgba(252, 231, 4, 0.562);
    color: black;
    /* display: table-header-group; */
}

#playersList th {
    padding: 1%;
}