#selectMenu {
    color: #fff;
    font-family: Chalet-LondonNineteenSixty;
    font-size: 1.6vh;
    min-width: 40vh;
    position: absolute;
    left: 50%;
    top: 20%;
}

#selectMenu .arrow {
    background-image: url('../img/selectMenu/arrow-off.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: contain;
    height: 1.5vh;
    width: 1.5vh;
}

#selectMenu .arrow.active {
    background-image: url('../img/selectMenu/arrow.png');
}

#selectMenu .arr-down {
    margin: auto;
}

#selectMenu .arr-left {
    transform: rotate(90deg);
}

#selectMenu .arr-right {
    transform: rotate(-90deg);
}

#selectMenu .arr-up {
    transform: rotate(180deg);
    margin: auto;
}

#selectMenu .color-type {
    background: blue;
    border-radius: 0.5vh;;
    height: 2vh;
    width: 2vh;
}

#selectMenu .content {
    background: rgb(0, 0, 0, 0.6);
    border-radius: 0 0 1vh 1vh;
    padding: 1vh 0;
}

#selectMenu .content .item {
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vh;
}

#selectMenu .content .item.selected {
    background: #f1d941;
    border-radius: 0.7vh;
    color: #000;
}

#selectMenu .content .items {
    padding: 1vh 0;
}

#selectMenu .header {
    color: #f1d941;
    background: rgb(0, 0, 0, 0.6);
    border-radius: 1vh 1vh 0 0;
    font-size: 2.7vh;
    font-weight: bold;
    padding-top: 2vh;
    text-align: center;
}

#selectMenu .selector {
    background: rgb(0, 0, 0, 0.6);
    border-radius: 1vh;
    display: flex;
    margin-top: 0.5vh;
    padding: 1vh;
}

#selectMenu .selector.select-color > div.active:not(.arrow) {
    border: 1px solid #f1d941;
}

#selectMenu .selector > div {
    color: #888;
    text-align: center;
    width: 33%;
}

#selectMenu .selector > div:nth-child(2) {
    color: #fff;
    font-weight: bold;
}
