#terminal {
    background: rgb(0, 0, 0, 0.6);
    border-radius: 1vh 0;
    box-shadow: 0px 0px 0.5vh #000;
    color: #fff;
    height: 40vh;
    /* left: 50%; */
    position: absolute;
    /* top: 50%; */
    transform: translate(-50%, -50%);
    width: 60vh;
    z-index: 110;   
}

#terminal input {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5vh;
    outline: none;
    padding: 0.6vh;
    width: 98%;
}

#terminal .header {
    border-radius: 1vh 0 0 0;
    background: #ffdf29;
    border-bottom: 0.1vh solid #000;
    color: #000;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5vh;
    padding: 0 1vh 1vh;
}

#terminal .header .close:hover {
    color: red;
}

#terminal .content {
    font-size: 1.1vh;
    height: 84%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 1vh;
}

#terminal .content>div {
    margin-bottom: 0.5vh;
}

#terminal .content p {
    margin: 0;
    padding-left: 1vh;
    word-break: break-word;
}

#terminal .content p:hover {
    opacity: 0.9;
}

#terminal .content .log {
    border-left: 0.2vh solid #fff;
}

#terminal .content .info {
    border-left: 0.2vh solid #0bf;
}

#terminal .content .warning {
    border-left: 0.2vh solid #fb0;
}

#terminal .content .error {
    border-left: 0.2vh solid #b44;
    font-style: italic;
}

#terminal .content .debug {
    border-left: 0.2vh solid #bf0;
}

#terminal ::-webkit-scrollbar {
    width: 0.5vh;
}

#terminal ::-webkit-scrollbar-thumb {
    /* border-width: 1px 1px 1px 2px; */
    /* border-color: #222; */
    background-color: #555;
}
