@font-face {
  font-family: "myFont";
  src: url(./fonts/MyFont.otf) format("opentype");
}

@font-face {
  font-family: "ubuntu";
  src: url(./fonts/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "phoneFont";
  src: url(./fonts/sf.ttf) format("truetype");
}

@font-face {
  font-family: "fontBank";
  src: url(./fonts/DINAlternateBold.ttf) format("truetype");
}

body {
  background: transparent;
  font-family: "myFont";
  /*background: url(./icons/test.jpg) center no-repeat;*/
  background-position-y: 0;
  /* filter: blur(5px); */
}

@keyframes login {
	0% {
	   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=100);
    opacity: 0;
		margin-top: -50px;
	}
	100% {
	   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
    opacity: 1;
		margin-top: 0px;
	}  
}

@keyframes help {
	0% {
    opacity: 0;
	}
	100% {
    opacity: 1;
	}  
}

@keyframes notif {
	0% {
	   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=100);
    opacity: 0;
		margin-top: 0%;
	}
	100% {
	   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
    opacity: 1;
		margin-top: 10px;
	}  
}

@keyframes anim {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes logo {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -150px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInTop {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, 1050px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.testField {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 500px;
  height: 350px;
  background-color: gray;
}

.mainLogo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 320px;
  object-fit: cover;
  animation: logo 5s ease-in-out;
}

.login-dark form {
  background-color: rgba(45, 45, 45, 0.904);
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
  animation: bounceInDown 2s;  
}

.shop-dark form {
  background-color: rgba(45, 45, 45, 0.856);
  border-radius: 15px;
  position: absolute;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
  animation: anim 0.2s ease-in-out;  
  position: absolute;
}

.login-dark .illustration {
  text-align: center;
  padding: 0px 0 45px;
  font-size: 100px;
  color: #ffdf29;
  outline: none;
}

.shop-dark .shop-ill {
  text-align: center;
  font-size: 100px;
  color: #ffdf29;
  outline: none;
  padding: 0;
  height: 128px;
}

.logo{
  background-image: url('./icons/logo.png');
  background-size: 100%;
  left: 30%;
  margin-left: 25%;
}

.shop-logo{
  height: 128px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  top: -27px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.icon.ion-android-person {
  position: relative;
  top: -30px;
  outline: none;
}

.login-dark form .form-control, .shop-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #49505a;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

#inpName, #inpFam {
  background: none;
  height: 50px;
  border: 1px solid #ffdf29;
  border-radius: 15px;
  box-shadow: none;
  outline: none;
  color: white;
  padding-left: 20px;
}

.login-dark form .form-control:focus, .shop-dark form .form-control:focus {
  border-bottom: 1.5px solid #f8f8f8;
}

#inpName:focus, #inpFam:focus {
  background-color: #ffdf29;
  color: black;
}

#idBut {
  background: #ffdf29;
  color: black;
  border: none;
  padding: 12px;
  box-shadow: none;
  margin-top: 30px;
  text-shadow: none;
  outline: none;
	transition: all .2s ease-in-out;
}

#idBut:hover{
  transform: scale(1.05);
  transition: all .25s ease-in-out;
  background: #ffdf29;
}

#idBut:active{
  background: #ebdb81;
}

#but-shop{
  background-color: transparent;
  outline: none;
  color: white;
  cursor: pointer;
  height: 45px;
  font-size: 16px;
  text-align: left;
  padding-left: 15px;
  border: 0px solid transparent;
  border-radius: 5px;
  border-bottom: 1px solid #49505a;
}

#but-shop:hover, #but-shop:focus{
  background-color: #ffdf29;
  color:black;
  border-bottom: 1px solid #49505a;
}

.form-shop{
  width: 100%;
  padding: 4px;
}

.spanPrice{
  /* transition: all .3s ease-in-out;  */
  width: 30px;
  height: 30px;
  position: absolute;
  left: 81%;
  text-align: right;
  margin-right: 5%;
}

.iconBlock{
  transition: all .3s ease-in-out; 
  width: 23px;
  height: 23px;
  position: absolute;
  left: 90%;
}

.colorBlock{
  /* transition: all .3s ease-in-out;  */
  width: 30px;
  height: 30px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  /* top: 10%; */
  margin: 10px 10px 0 10px;
  /* left: 85%; */
  display: inline-block;
  outline: none;
}

.colorBlock:focus {
  border: #ffdf29 2px solid;
}

@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
} 

.lds-rolling, .lds-rolling-bank {
  position: absolute;
  animation: login 1s ease-in-out; 
}

.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 20px solid #ffdf29;
  border-top-color: transparent;
  border-radius: 50%;
}

.lds-rolling-bank div,
.lds-rolling-bank div:after {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 20px solid #00932B;
  border-top-color: transparent;
  border-radius: 50%;
}

.lds-rolling div,.lds-rolling-bank div {
  -webkit-animation: lds-rolling 1.2s linear infinite;
  animation: lds-rolling 1.2s linear infinite;
  top: 45%;
  left: 45%;
}

.lds-rolling div:after, .lds-rolling-bank div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.lds-rolling, .lds-rolling-bank {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.slideUp {
  position: relative;
  width: 0;
  /* margin-bottom: 10px; */
  border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 9px solid #49505a;
}

.slideDown {
  position: relative;
  width: 0;
  /* margin-top: 20px; */
  border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 9px solid #ffdf29;
}

.slideLeft {
  position: absolute;
  left: 20px;
  top: 37%;
  border-top: 7px solid transparent;
	border-right: 9px solid #ffdf29;
	border-bottom: 7px solid transparent;
}

.slideRight {
  position: absolute;
  left: 93%;
  top: 37%;
  border-top: 7px solid transparent;
	border-left: 9px solid #ffdf29;
	border-bottom: 7px solid transparent;
}

.textBlock {
  width: 300px;
  height: 200px;
  background-color: rgb(34, 32, 32);
  padding: 20px;
  position: absolute;
  right: 128px;
  top: 43%;
  color: #fff;
  animation: login 1s ease-in-out;  
  text-align: center;
}

.textBlock div {
  text-align: center;
}

.slidecontainer {
  width: 100%;
}

.slider {
  display: inline-block;
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 320px; 
  height: 2px;
  margin: 25px 10px 0 50px;
  background: #d3d3d3;
  border-radius: 25px;
  outline: none; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.containerSlider {
  position: absolute;
  right: 50px;
  top: 585px;
  height: 50px;
  width: 435px;
  border-radius: 10px;
  background-color: rgba(45, 45, 45, 0.9);
  animation: anim 0.2s ease-in-out;
}

.sliderLookR {
  position: relative;
  width: 110px;
  display: inline-block;
  text-align: center;
}

.sliderLookL {
  position: relative;
  width: 110px;
  display: inline-block;
  text-align: center;
}

.parentSpan {
  display: inline-block;
  color: white;
  margin: 13px 10px 0 10px;
}

.nameField {
  position: absolute;
  left: 68%;
  margin-top: 10px;
  height: 50px;
  width: 435px;
  background-color: rgba(45, 45, 45, 0.9);
  transition: all .3s ease-in-out;
  animation: anim 0.2s ease-in-out; 
}

.slider:focus, .slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 15px;
  height: 15px;
  background: #F0D941; 
  border-radius: 25px;
  cursor: pointer; 
}

.notBlock {
  width: 350px;
  height: 70px;
  /* line-height:70px; */
  background-color: rgba(41, 41, 41, 0.904);
  /* padding: 10px; */
  /* display: table; */
  border-radius: 4px;
  top: 20px;
  right: 20px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  animation: anim 0.2s ease-in-out;  
}

.notBlock div{
  display: inline-block;
}

/* .textNotif {
  position: absolute;
  margin-top: 10px;
} */

.form-sex {
  width: 90%;
  height: 90%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  transform: scale(.8);
}

.classSymbol{
  height: 22px;
  width: 22px;
  /* border: solid 0.5px black; */
  border-radius: 5px;
  color: black;
  font-size: 14px;
  font-weight: bold;
  background: white;
}

.blockSex{
  position: relative;
  display: inline-block;
  outline: none;
  margin-top: 5%;
  border: 3px solid #F0D941;
  border-radius: 20px;
  width: 280px;
  height: 420px;
  transition: all .35s ease-in-out;
  background: linear-gradient(135deg, 
            rgba(247,232,17,1) 0%, 
            rgba(242,211,8,0.92) 15%, 
            rgba(240,217,65,0.72) 54%, 
            rgba(235,216,94,0.65) 69%, 
            rgba(247,230,118,0.53) 93%, 
            rgba(247,230,118,0.49) 100%);
  background-image: linear-gradient(-125deg, transparent,transparent 11%,#ffdf29 60%, #ffdf29);
  background-position: 100% 0;
  background-size: 200% 300%;
}

.blockSex:focus, .blockSex:hover {
  transform: scale(1.1);
  transition: all .35s ease-in-out;
  background-image: linear-gradient(-125deg, transparent,transparent 11%,#ffdf29 60%, #ffdf29);
  background-position: 0 0;
}

.imgSex{
  position: relative;
  margin-top: 20px;
  height: 330px;
  width: 200px;
  left: 15%;
}

.labelSex{
  position: relative;
  border-top: 3px solid #ffdf29;
  /* padding: 20px; */
  background-color: #ffdf29;
  border-radius: 0 0 20px 20px;
  color: #534949;
  font-size: 30px;
  height: 66.6px;
  text-align: center;
}

.labelSetSex {
  text-align: center;
  color: #ffdf29;
  font-size: 50px;
}

#butCust {
  color: white;
  background: transparent;
  padding-left: 20px;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  display: block;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid #3b3d3f;
}
#butCust:focus {
  background-color: #ffdf29;
  color: black;
}

#customButtons {
  margin: 20px 0 20px 0;
} 

.form-group-shop {
  margin: 20px 0 20px 0;
} 

.leftItem, .rightItem {
  width: 105px;
  height: 23px;
  overflow: hidden;
  font-size: 16px;
  color: gray;
  display: inline-block;
}

.centerItem {
  width: 150px;
  height: 23px;
  overflow: hidden;
  font-size: 18px;
  color: white;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.blockButtonsHelp {
  position: absolute;
  bottom: 10px;
  right: 50px;
  background-color: rgba(45, 45, 45, 0.856);
  border-radius: 15px;
  width: 580px;
  height: 80px;
  animation: anim ease-in-out .2s;
}

.helpButtons {
  color: white;
  text-align: center;
  display: inline-block;
  margin: 10px 20px 10px 20px;
}

.test {
  display: inline-block;
  /* margin-left: 10px; */
}

.strelki { 
  width: 60px;
  object-fit: cover;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.helpWindow {
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  color: white;
  background-color: rgb(0, 0, 0, 0.75);
  animation-duration: 2s;
  animation-name: help;
  z-index: 9999;
  opacity: 0;
  animation-fill-mode: forwards;
}


/* ДОМА */
/* БИЗНЕСЫ */

.formCart {
  background-color: rgba(45, 45, 45, 0.856);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 350px;
  width: 620px;
  animation: anim 0.2s ease-in-out;
  user-select: none;
  border-radius: 15px;
}

.formBiz {
  background-color: rgba(45, 45, 45);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 280px;
  width: 520px;
  animation: anim 0.2s ease-in-out;
  user-select: none;
  border-radius: 15px;
}

.headHouse {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #F0D941;
  border-radius: 15px 15px 0 0;
}

.listInfo {
  color: white;
  font-size: 18px;
  list-style: none;
  margin: 10px 0 0 -10px;
}

.elList {
  color: #F0D941;
  margin-bottom: 6px;
}

.priceHouse {
  position: absolute;
  padding: 10px 0 0 10px;
  right: 0px;
  width: 240px;
  height: 50px;
  color: white;
  background-color: rgb(37, 37, 37);
  font-size: 22px;
}

.buttonsHouse {
  position: absolute;
  left: 360px;
  top: 135px;
}

.buttonsBiz {
  position: absolute;
  left: 360px;
  top: 135px;
}

#buttonHouse {
  display: inline-block;
  width: 110px;
  height: 120px;
  color: white;
  background-color: transparent;
  border: solid 1px rgb(66, 65, 65);
  margin: 0 12px 12px 0;
  padding: 8px 8px 0px 8px;
  text-align: center;
  transition: all .2s ease-in-out;
  word-wrap: break-word;
  outline: none;
  border-radius: 10px;
}

#buttonBiz {
  display: inline-block;
  width: 110px;
  height: 120px;
  color: white;
  background-color: transparent;
  border: solid 1px rgb(66, 65, 65);
  margin: 0 12px 12px 0;
  padding: 8px 8px 0px 8px;
  text-align: center;
  transition: all .2s ease-in-out;
  word-wrap: break-word;
  outline: none;
  transform: scale(0.9)
}

#buttonHouse:hover, #buttonBiz:hover {
  cursor: pointer;
  color: black;
  background-color: #F0D941;
}

.imgHouse {
  text-align: center;
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.headSpanHouse {
  position: absolute;
  margin: 6px 0 0 30px;
  font-size: 22px;
}

.block {
  position: absolute;
  left: 30%;
  top: 30%;
  height: 350px;
  width: 620px;
  background-color: red;
}

.dialogHouse {
  position: absolute;
  background-color: rgb(34, 32, 32);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 150px;
  width: 300px;
  animation: anim 0.2s ease-in-out;
  user-select: none;
  color: white;
  text-align: center;
  padding: 30px;
}

.butDialogHouse {
  /* position: absolute; */
  background: #ffdf29;
  color: black;
  border: none;
  padding: 12px;
  box-shadow: none;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: none; 
  outline: none;
  transition: all .2s ease-in-out;
  display: block;
  cursor: pointer;
}

.exitHouse, .exitEnterHouse, .exitBank, .exitBankErr {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.exitHouse:hover, .exitEnterHouse:hover, .exitBank:hover, .exitBankErr:hover {
  opacity: 1;
  cursor: pointer;
}
.exitHouse:before, .exitHouse:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(46, 44, 44);
}

.exitBankErr:before, .exitBankErr:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(219, 219, 219);
}

.exitBank:before, .exitBank:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(77, 77, 77);
}

.exitEnterHouse:before, .exitEnterHouse:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: rgb(53, 53, 53);
}
.exitHouse:before, .exitEnterHouse:before, .exitBank:before, .exitBankErr:before {
  transform: rotate(45deg);
}
.exitHouse:after, .exitEnterHouse:after, .exitBank:after, .exitBankErr:after {
  transform: rotate(-45deg);
}


/* ДОМА */

/* ТЕЛЕФОН */

.formPhone {
  position: absolute;
  right: 30px;
  bottom: 10px;
  width: 240px;
  height: 470px;
  /* font-family: Arial, sans-serif; */
  font-family: fontBank;
  animation: anim .1s;
  font-weight: normal;
  user-select: none;
}

#buttonHomePhone {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -1px;
  right: 0;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: transparent;
  border: 0px solid black;
  outline: none;
  cursor: pointer;
}

.backPhone {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 240px;
  height: 470px;
}

.displayPhone {
  position: absolute;
  left: 4.9%;
  bottom: 53.5px;
  width: 90%;
  height: 364px;
  user-select: none;
  animation: anim 0.1s;
}

.bottomPanel {
  position: absolute;
  bottom: 5px;
  left: 2%;
  width: 96%;
  height: 60px;
  border-radius: 15px;
  background-color: #c7c1c1a6;
  display: inline-block;
}

.appPhone {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: #162e149c;
  border-radius: 13px;
  margin: 7.5px 10px 0 14px;
  cursor: pointer;
}

.appPhone:active {
  filter: brightness(50%)
}

.listApp {
  position: absolute;
  bottom: 60px;
  left: 7%;
  display: table;
}

.appDisplayFieldPhone {
  display: inline-block;
  text-align: center;
  margin: 0 15px 15px 5px;
  cursor: pointer;
}

.appDisplayPhone {
  display: block;
  width: 44px;
  height: 44px;
  background-color: #0f1e31e1;
  border-radius: 13px;
  margin-left: auto;
  margin-right: auto;
}

.nameAppPhone {
  text-align: center;
  color: white;
  font-size: 14px;
}

.clockPhone {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 30px;
  font-size: 48px;
  color: white;
}

.numberButtons {
  display: table;
  position: relative;
  top: 20px;
  left: 3.9%;
  text-align: center;
}

.icoNumber {
  display: inline-block;
  color: #343C47;
  width: 40px;
  height: 40px;
  margin: 7px 20px 0 0;
  padding-top: 6px;
  border-radius: 50px; 
  border: 1px solid #343C47;
  cursor: pointer;
  transition: .1s ease-in-out;
}

.icoNumber:active {
  background: #aaaaaa;
  transition: .05s ease-in-out;
}

.callButton {
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 15px;
  position: absolute;
  border-radius: 50px; 
  cursor: pointer;
}

.backSpacePhone {
  width: 38px;
  height: 38px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 63px;
  animation: anim 0.1s;
}

.backSpacePhone:active {
  filter: brightness(50%);
  transition: .05s ease-in-out;
}

.numberPanel {
  position: relative;
  height: 50px;
  top: 3%;
  font-size: 35px;
  text-align: center;
}

.numberPanelInput {
  position: relative;
  height: 40px;
  top: 3%;
  font-size: 20px;
  text-align: left;
  padding: 5px 0 0 10px;
  background: #f5f5f5;
  width: 70%;
  left: 15px;
  border-radius: 15px;
}

.headSpanHouseApp {
  font-size: 18px;
}

#idButHouseApp {
  outline: none;
  width: 90%;
  height: 35px;
  background-color: #313539;
  color: white;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
  margin: 10px 5% 0 5%;
  border: none;
  cursor: pointer;
  transition: .1s ease-in-out;
}

#idButHouseApp:hover {
  transform: scale(1.05);
  transition: .1s ease-in-out;
}

#idButHouseApp:active {
  transform: scale(1);
  transition: .1s ease-in-out;
  box-shadow: none;
}

.inCallForm {
  height: 364px;
  background: linear-gradient(77deg, rgb(33, 73, 85) 0%, rgb(52, 60, 71) 100%);
  user-select: none;
  font-size: 14px;
  animation: anim 0.1s;
  position: fixed;
  width: 217px;
}

::-webkit-scrollbar-button { 
  background-image:url(''); 
  background-repeat:no-repeat; 
  width:1px; 
  height:0px;
} 
  
  ::-webkit-scrollbar-track { 
  background-color:#2e2e2e; 
  box-shadow:0px 0px 3px #000 inset; 
} 
  
::-webkit-scrollbar-thumb { 
background-color:#3a3a39; 
background-position:center; 
background-repeat:no-repeat; 
cursor: pointer;
} 

::-webkit-resizer{ 
background-image:url(''); 
background-repeat:no-repeat; 
width: 0px; 
cursor: pointer;
height:0px 
} 

::-webkit-scrollbar{ 
width: 0px; 
cursor: pointer;
}

.contactsListPhone {
  width: 100%;
  bottom: 50px;
  background-color: #534949;
}

.contactPhone {
  width: 80%;
  height: 45px;
  margin: 0px 0 0 20px;
  border-bottom: 1px solid rgb(199, 196, 196);
  cursor: pointer;
  transition: .1s ease-in-out;
}

#idBackContacts {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 8px 0 0 8px;
  font-size: 14px;
  display: inline-block;
}

.inputContacts {
  background: #f5f5f5;
  border-radius: 12px;
  border: none;
  border-left-width: 5px;
  box-shadow: none;
  outline: none;
  height: 40px;
  width: 80%;
  padding-left: 10px;
  margin: 10px 20px 10px 20px;
  font-size: 14px;
  display: inline-block;
}

.headContacts {
  height: 50px;
  background-color: #343c47 ;
}

.contactName {
  display: inline-block;
  margin: 15px 10px 0px 10px;
  position: static;
  width: 100px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contactIcon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  display: inline-block;
  background: #ececec;
  margin-top: 12px;
}

.dialogName {
  display: inline-block;
  width: 88px;
  font-size: 14px;
}

.contentDialog {
  margin: 0px 0 0 20px;
  font-size: 14px;
  width: 88px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dialogPhone {
  width: 80%;
  height: 65px;
  margin: 0px 0 0 20px;
  border-bottom: 1px solid rgb(199, 196, 196);
  cursor: pointer;
  transition: .1s ease-in-out;
}

.listMessage {
  list-style: none;
  overflow-y: auto;
  height: 250px;
}

.myMesBlock {
  margin: 5px 10px 5px 10px;
  box-sizing: border-box;
  float: right;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
  padding: 6px 20px;
  color: black;
  word-wrap: break-word;
  background-color: #b8f0c7;
  border-radius: 20px;
  justify-content: flex-end;
}

.myMesBlock:before, .myMesBlock:after {
  content: '';
  display: block;
  position: absolute;
}

.myMesBlock:before {
  bottom: 0;
  left: -7px;
  z-index: -2;
}

.myMesBlock:after {
  bottom: 1px;
  left: -5px;
  z-index: -2;
}

.himMesBlock {
  margin: 5px 10px 5px 10px;
  box-sizing: border-box;
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
  padding: 6px 20px;
  color: black;
  word-wrap: break-word;
  background-color: #e4dede;
  border-radius: 20px;
}

.himMesBlock:before, .himMesBlock:after {
  content: '';
  display: block;
  position: absolute;
}

.himMesBlock:before {
  bottom: 0;
  left: -7px;
  z-index: -2;
}

.himMesBlock:after {
  bottom: 1px;
  left: -5px;
  z-index: -2;
}

#idButSendMessage {
  position: absolute;
  right: 5px;
  bottom: -10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #e4dede;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin: 10px 0 20px 0;
  display: inline-block;
}

#butStartCall {
  width: 85px;
  height: 35px;
  background: #31e15f;
  border-radius: 30px;
  border: none;
  outline: none;
  position: absolute;
  bottom: 16px;
  left: 20px;
  cursor: pointer;
  display: inline-block;
} 

#butEndCall {
  width: 85px;
  height: 35px;
  background: #f44343;
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 16px;
  right: 20px;
}

.renameField {
  background: #f5f5f5;
  width: 85%;
  position: absolute;
  left: 15px;
  margin-top: 20px;
  border-radius: 15px;
  height: 100px;
  font-size: 12px;
  padding: 10px 0 0 10px;
}

#inputRenameContact {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(201, 201, 201);
  width: 90%;
  margin-left: 2%;
  margin-top: 10px;
  outline: none;
}

.sellFormPhone {
  position: absolute;
  background: #343C47;
  top: 60px;
  /* left: 40px; */
  width: 95%;
  left: 2.5%;
}

.headHousePhone {
  background: #313539;
  /* height: 60px; */
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 8px 0 8px 0;
}

.listInfoPhone {
  margin: 2px 0 0 0px;
  color: #313539;
  list-style: none;
  border: 1px solid #313539;
  border-radius: 7px;
  margin-left: 5%;
  width: 90%;
  font-size: 14px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  font-weight: bold;
}

.infoHouseApp {
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0 0 8%;
  color: #313539;
}

.tableButtonsHouseApp {
  display: table;
  width: 90%;
  text-align: center;
  margin: 2px 0 0px 5%;
}

.buttonHouseMenager {
  border: 1px solid #313539;
  border-radius: 8px;
  display: inline-block;
  width: 90px;
  height: 80px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  transition: .1s ease-in-out;
}

.buttonHouseMenager:hover {
  background: #313539;
  color: white;
  transition: .1s ease-in-out;
  transform: scale(1.08);
}

.textHouseMenager {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 0px;
  line-height: 12px;
}

.blockSellHouseApp {
  width: 100%;
  padding: 20px 30px 20px 30px;
  text-align: center;
}

.inputBlockHouseApp {
  margin: 0px 0 10px 0;
}

.textInputHouseApp {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}

.inputHouseApp {
  border-radius: 5px;
  width: 100%;
  outline: none;
  border: 1px solid #313539;
  padding: 3px 5px 3px 5px; 
}

.inputHouseApp:focus {
  border-width: 1.2px;
}

.blockImprovement {
  width: 90%;
  margin-left: 5%;
  border: 1px solid #313539;
  border-radius: 10px;
  padding: 5px 15px;
  margin-top: 10px;
  cursor: pointer;
}

.blockImprovement:hover {
  background: #313539;
  color: white;
}

.icoImprovements {
  display: inline-block;
  width: 55px;
  margin-right: 5px;
}

/* ТЕЛЕФОН */

/* БАНК */

.formBank {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 950px;
  height: 550px;
  background: rgba(255, 255, 255);
  border-radius: 15px;
  user-select: none;
  animation: anim .2s;
  font-family: fontBank;
}

.headBank {
  background: rgba(0, 0, 0, 0.623);
  border-radius: 15px 0 0 15px;
  height: 100%;
  width: 200px;
  background: #00932B;
  color: white;
  /* padding: 50px 0 0 50px; */
  display: inline-block;
}

.logoBank {
  width: 310px;
  margin-top: -30px;
  user-select: none;
}

.logoBlockBank {
  position: absolute;
  display: inline-block;
  width: 750px;
  margin-top: 50px;
  text-align: center;
}
.accountInfo {
  margin: 20px 0 0 10%;
}

.accountIco {
  display: inline-block;
  width: 50px;
}

.accountName {
  width: 70px;
  position: absolute;
  margin-top: -50px;
  margin-left: 60px;
  font-size: 18px;
}

.moneyPanelBank {
  margin: 40px 0 0 0;
}

.fieldMoneyBank {
  width: 80%;
  margin: 20px 10% 20px 10%;
  height: 70px;
  border: 2px solid white;
  border-radius: 10px;
}

.moneyBank {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold;
}

.icoPanelBank {
  float: right;
  margin-right: 7px;
  margin-top: -2px; 
  font-size: 14px;
}

.tableButtonsBank {
  display: table;
  width: 700px;
  position: absolute;
  top: 150px;
  left: 230px;
  text-align: center;
  animation: anim 0.1s;
}

.infoMoneyBank {
  color: #11B630;
  font-size: 34px;
}

.buttonsPanelBank {
  width: 753px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.buttonBank {
  display: inline-block;
  margin: 0 20px 40px 20px;
  width: 150px;
  height: 150px;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 23px;
  cursor: pointer;
  text-align: center;
  padding-top: 18px;
  color: black;
  transition: .2s ease-in-out;
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
}

.buttonBank:hover {
  background: #00932B;
  border: 1px solid #00932B;
  color: white;
  transition: .15s ease-in-out;
  box-shadow: none;
  transform: scale(1.1);
  fill: black;
}

.icoButtonBank {
  position: absolute;
  text-align: center;
  width: 150px;
}

.textButtonBank {
  margin-top: 95px;
}

.pageBank {
  position: absolute;
  top: 130px;
  left: 230px;
  width: 700px;
  text-align: center;
  animation: anim 0.1s;
}

.titlePageBank {
  font-size: 28px;
  font-weight: bold;
}

.blockPayBank {
  margin-top: 70px;
}

.inputPayBank {
  height: 40px;
  margin-top: 11px;
  margin-bottom: 20px;
  padding: 5px 7px 5px 7px;
  outline: none;
  border-radius: 10px 0 0 10px;
  border: 1px solid #838383;
  border-right: none;
  box-shadow: 0px 3px 4px rgba(0,0,0,0.15);
}

.inputPayBank:focus, .inputTransferBank:focus {
  border-color: #3d3d3d;
  border-width: 1.5px;
}

.inputTransferBank {
  height: 40px;
  margin-top: 11px;
  margin-bottom: 20px;
  padding: 5px 7px 5px 7px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #838383;
  box-shadow: 0px 3px 4px rgba(0,0,0,0.15);
}

#buttonPayBank {
  outline: none;
  background: #00932B;
  border: none;
  border-radius: 0 5px 5px 0;
  height: 40px;
  margin-top: -1px;
  width: 55px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 3px 4px rgba(0,0,0,0.15);
}

#buttonBackBank {
  margin: 20px 20px 0 20px;
  width: 130px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  outline: none;
  background: transparent;
  border: 1px solid rgb(131, 131, 131);
  transition: .1s ease-in-out;
}

#buttonBackBank:hover {
  background: #00932B;
  border: 1px solid #00932B;
  color: white;
  transition: .1s ease-in-out;
}

.panelInfoPay {
  width: 90%;
  height: 100px;
  padding: 10px;
  margin: 30px auto 20px auto;
  background: #3d3d3d;
  border-radius: 15px;
  font-size: 20px;
}

.moneyPayBank {
  color: rgb(24, 184, 24);
  font-size: 24px;
  margin-top: 8px;
}

.buttonsDaysBank {
  width: 100%;
  margin: 10px 0 10px 0;
  text-align: center;
}

#butDayBank {
  outline: none;
  border: 1px solid #00932B;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 10px;
  background: transparent;
  color: black;
  cursor: pointer;
  transition: .1s ease-in-out;
  font-size: 22px;
  text-align: center;
  /* padding-bottom: 20px; */
}

#butDayBank:hover {
  background: #00932B;
  border: 1px solid #00932B;
  color: white;
  transition: .1s ease-in-out;
}

#butPayHouseBank {
  outline: none;
  border: none;
  border-radius: 10px;
  /* width: 40px; */
  height: 40px;
  margin: 0 10px 0 10px;
  background: #00932B;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: .1s ease-in-out;
  font-size: 18px;
  text-align: center;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.336);
}

#butPayHouseBank:hover {
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.336);
  transform: scale(1.05);
  transition: .1s ease-in-out;
}

#butPayHouseBank:active {
  box-shadow: none;
  transition: .1s ease-in-out;
}

.textButDay {
  margin-top: -5px;
}

.icoBank {
  position: absolute;
  margin-left: 20px;
  margin-top: -2px;
  transition: .1s ease-in-out;
}

.icoBank:hover {
  transition: .1s ease-in-out;
}

.panelCashBoxBank {
  display: inline-block;
}

.plitCashBoxBank {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.336);
  border: 1px solid rgb(160, 160, 160);
  border-radius: 10px;
  width: 300px;
  margin: 0 20px 0 20px;
  padding: 9px;
}
 
.textCashBoxBank {
  text-align: left;
  margin: 0 0 5px 20px;
  font-size: 18px;
  font-weight: bold;
}

.houseBizBank {
  width: 280px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.336);
  border: 1px solid rgb(160, 160, 160);
  border-radius: 10px;
  display: inline-block;
  text-align: left;
  padding: 10px 5px 5px 20px;
  margin: 0 20px 0 20px;
  font-size: 17px;
}

.successIcon {
  margin: 16% 10px 20px 25%;
  display: inline-block;
  width: 130px;
}

.sucTextBank {
  width: 350px;
  display: inline-block;
  font-size: 25px;
  top: 20px;
  position: absolute;
  top: 240px;
}

/* БАНК */

/* ЧАТ */

.formChat {
  height: 300px;
  position: absolute;
  left: 30px;
  top: 50px;
  color: white;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif
}

.messageListChat {
  height: 260px;
  overflow-y: auto;
  overflow-x: hidden; 
  word-break: none;
  padding-top: 10px;
  text-overflow: ellipsis;
  user-select: none;
}

.messageChat {
  margin: -2px 0 1px 0;
}

.fieldInputChat {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0, 0.8);
  width: 750px;
  padding-left: 10px;
}

.inputChat {
  width: 650px;
  outline: none;
  background: transparent;
  border: none;
  color: white;
  display: inline-block;
  padding: 5px 10px 5px 40px;
}

.typeBlockChat {
  width: 70px;
  display: inline-block;
  text-align: center;
}

.buttonChat {
  width: 100px;
}

.wordChat {
  text-shadow: 
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
     1px  1px 0   #000000;

  letter-spacing: 0.05em;
}

/* ЧАТ */