@keyframes show-react {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes show-off-react {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}