/* body {
    background: gray;
    background-size: cover;
    font-family: monospace, sans-serif;
    font-size: 1.4vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    user-select: none;
} */

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:1px;
    height:0px;
}

::-webkit-scrollbar-track {
    background-color:#2e2e2e;
    box-shadow:0px 0px 3px #000 inset;
}

::-webkit-scrollbar-thumb {
    background-color:#3a3a39;
    background-position:center;
    background-repeat:no-repeat;
    cursor: pointer;
}

::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width: 0px;
    cursor: pointer;
    height: 0px
}

::-webkit-scrollbar{
    width: 0px;
    cursor: pointer;
}

.loader01 {
    width: 13.5%;
    height: 8%;
    border: 6px solid #2c3751;
    border-right-color: transparent;
    border-radius: 50%;
    position: relative;
    animation: loader-rotate 1s linear infinite;
    top: 45%;
    left: 35%;
}

.loader-house {
    border: 6px solid #e1c631;
    border-right-color: transparent;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: loader-rotate 1s linear infinite;
}

.block_loader-house-react {
    animation: show-react .1s ease-in-out;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}