#carSpecifications {
    background: rgb(0, 0, 0, 0.6);
    border-radius: 1vh;
    box-shadow: 0px 5px 10px #0008;
    font-family: Montserrat;
    left: 2vh;
    position: absolute;
    top: 30%;
    /* transform: rotateY(10deg) rotateX(0) translateZ(0); */
    width: 36vh;
}

#carSpecifications .header {
    font-family: Chalet-LondonNineteenSixty;
    color: #f1d941;
    font-weight: bold;
    text-align: center;
    font-size: 2.7vh;
    margin: 2vh 0;
}

#carSpecifications .record {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    margin-top: 0.9vh;
}

#carSpecifications .record .left {
    padding-left: 2vh;
    font-size: 1.6vh;
}

#carSpecifications .record .right {
    padding-right: 2vh;
    font-size: 1.7vh;
    text-align: right;
}

#carSpecifications .record .line {
    grid-column: 1/3;
    background-color: #444;
    height: 1px;
    margin-top: 0.5vh;
}

#carSpecifications .footer {
    color: #a2dd03;
    text-align: center;
    margin: 2vh 0;
    font-size: 2.8vh;
    font-weight: bold;
}
