@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: MontserratNew;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: MontserratNew;
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: MontserratNew;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: HerrVonMuellerhoff;
    src: url("../fonts/HerrVonMuellerhoff/HerrVonMuellerhoff.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Chalet-LondonNineteenSixty';
    font-style: normal;
    font-weight: normal;
    src: local('Chalet-LondonNineteenSixty'), url('../fonts/Chalet/Chalet-LondonNineteenSixty.woff') format('woff');
}

@font-face {
    font-family: 'Chalet-ParisNineteenSixty';
    font-style: normal;
    font-weight: normal;
    src: local('Chalet-LondonNineteenSixty'), url('../fonts/Chalet/Chalet-ParisNineteenSixty.otf') format('opentype');
}
