#inventory {
    color: #ddd;
    display: grid;
    grid-gap: 0.7vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 80%;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 124vh;
    z-index: 100;
}

#inventory>div {
    background: #222d;
    box-shadow: 0px 0px 0.5vh #aaa;
    padding: 1.5vh;
}

#inventory .body-items {
    display: grid;
    grid-gap: 0.5vh;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(22, 1fr);
    height: 61vh;
}

#inventory .body-items .column {
    border: 1px solid #444;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 60%;
    display: flex;
    /* transition: border 1s, background 1s; */
}

#inventory .body-items .column.active {
    border-color: #046f04;
}

#inventory .body-items .column.focus {
    border-color: #aaa;
}

#inventory .body-items .column:not(:empty) {
    background: #fff1;
    background-image: none !important;
    border-color: #aaa;
}

#inventory .body-items .column:nth-child(1) {
    background-image: url('../img/inventory/body/1-off.png');
    grid-column-start: 4;
    grid-column-end: span 3;
    height: 3vh;
}

#inventory .body-items .column:nth-child(1) .item {
    /* background-image: url('../img/inventory/items/1.png'); */
    height: 3vh;
    width: 3vh;
}

#inventory .body-items .column:nth-child(2) {
    background-image: url('../img/inventory/body/6-off.png');
    grid-column-end: span 4;
    grid-row-end: span 4;
}

#inventory .body-items .column:nth-child(2) .item {
    /* background-image: url('../img/inventory/items/6.png'); */
    height: 8vh;
    width: 8vh;
}

#inventory .body-items .column:nth-child(3) {
    background-image: url('../img/inventory/body/14-off.png');
    grid-column-end: span 5;
    grid-row-end: span 4;
}

#inventory .body-items .column:nth-child(3) .item {
    /* background-image: url('../img/inventory/items/14.png'); */
    height: 8vh;
    width: 8vh;
}

#inventory .body-items .column:nth-child(4) {
    background-image: url('../img/inventory/body/2-off.png');
    grid-column-start: 4;
    grid-column-end: span 3;
    grid-row-end: span 3;
}

#inventory .body-items .column:nth-child(4) .item {
    /* background-image: url('../img/inventory/items/2.png'); */
    height: 6vh;
    width: 6vh;
}

#inventory .body-items .column:nth-child(5) {
    background-image: url('../img/inventory/body/3-off.png');
    grid-column-end: span 5;
    grid-row-end: span 7;
}

#inventory .body-items .column:nth-child(5) .item {
    /* background-image: url('../img/inventory/items/3.png'); */
    height: 12vh;
    width: 12vh;
}

#inventory .body-items .column:nth-child(6) {
    background-image: url('../img/inventory/body/7-off.png');
    background-size: 70%;
    grid-column-end: span 5;
    grid-row-end: span 7;
}

#inventory .body-items .column:nth-child(6) .item {
    /* background-image: url('../img/inventory/items/7.png'); */
    height: 12vh;
    width: 12vh;
}

#inventory .body-items .column:nth-child(7) {
    background-image: url('../img/inventory/body/11-off.png');
    grid-row-end: span 3;
    width: 3vh;
}

#inventory .body-items .column:nth-child(7) .item {
    /* background-image: url('../img/inventory/items/11.png'); */
    height: 4vh;
    width: 4vh;
}

#inventory .body-items .column:nth-child(8) {
    background-image: url('../img/inventory/body/10-off.png');
    grid-column-end: span 3;
    grid-row-end: span 3;
}

#inventory .body-items .column:nth-child(8) .item {
    /* background-image: url('../img/inventory/items/10.png'); */
    height: 4vh;
    width: 4vh;
}

#inventory .body-items .column:nth-child(9) {
    background-image: url('../img/inventory/body/12-off.png');
    grid-row-end: span 3;
    width: 3vh;
}

#inventory .body-items .column:nth-child(9) .item {
    /* background-image: url('../img/inventory/items/12.png'); */
    height: 2vh;
    width: 2vh;
}

#inventory .body-items .column:nth-child(10) {
    background-image: url('../img/inventory/body/rifle.png');
    grid-column-end: span 5;
    grid-row-end: span 12;
}

#inventory .body-items .column:nth-child(10) .item {
    /* background-image: url('../img/inventory/items/105.png'); */
    height: 12vh;
    width: 12vh;
}

#inventory .body-items .column:nth-child(11) {
    background-image: url('../img/inventory/body/13-off.png');
    grid-column-end: span 5;
    grid-row-end: span 11;
}

#inventory .body-items .column:nth-child(11) .item {
    /* background-image: url('../img/inventory/items/13.png'); */
    height: 12vh;
    width: 12vh;
}

#inventory .body-items .column:nth-child(12) {
    background-image: url('../img/inventory/body/8-off.png');
    grid-column-end: span 5;
    grid-row-end: span 7;
}

#inventory .body-items .column:nth-child(12) .item {
    /* background-image: url('../img/inventory/items/8.png'); */
    height: 12vh;
    width: 12vh;
}

#inventory .body-items .column:nth-child(13) {
    background-image: url('../img/inventory/body/9-off.png');
    grid-column-end: span 5;
    grid-row-end: span 4;
}

#inventory .body-items .column:nth-child(13) .item {
    /* background-image: url('../img/inventory/items/9.png'); */
    height: 7vh;
    width: 7vh;
}

#inventory .container.drag {
    opacity: 0.6;
}

#inventory .container .item {
    border: 1px solid #fff4;
    background-color: #fff1;
}

#inventory .environment {
    grid-row-end: span 10;
    overflow-x: hidden;
    overflow-y: auto;
}

#inventory .environment .empty, #inventory .playerInventory .empty {
    text-align: center;
}

#inventory .equipment {
    grid-row-end: span 9;
}

#inventory .hands {
    display: grid;
    grid-row-end: span 2;
}

#inventory .hands.active {
    background: #333d;
}

#inventory .hands.blocked {
    background: #422d;
}

#inventory .hands img {
    height: 9vh;
    opacity: 0.5;
}

#inventory .hands .item {
    height: 12vh;
    width: 31vh;
}

#inventory .hands .item .close {
    font-size: 2vh;
    right: 0.3vh;
    top: -0.3vh;
}

#inventory .hands .slot {
    align-items: center;
    /* border: 1px solid #333; */
    color: #ddd7;
    display: flex;
    font-size: 1.7vh;
    justify-content: space-around;
    margin: 0 auto;
    /* padding: 2vh; */
    width: 80%;
}

#inventory .hands .slot.busy {
    background: #fff1;
    /* border: 1px solid #aaa; */
}

#inventory .hands .slot.focus img {
    width: 32%;
    opacity: 1;
}

#inventory .hands .slot img:first-child {
    transform: scale(-1, 1);
}

#inventory .header {
    color: #fff;
    display: flex;
    font-size: 1.5vh;
    justify-content: flex-end;
    padding: 1vh 0;
}

#inventory .header.hidden {
    border-bottom: 1px solid #444;
}

#inventory .header div {
    padding: 0 0.5vh;
}

#inventory .header>.title {
    font-size: 2vh;
    font-weight: bold;
    margin-right: auto;
    text-transform: uppercase;
}

#inventory .header img {
    height: 2vh;
    opacity: 0.8;
    padding-left: 2vh;
}

#inventory .header span {
    margin-top: 0.2vh;
}

#inventory .hotkeys {
    display: grid;
    grid-column-end: span 2;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 0;
}

#inventory .hotkeys .item {
    height: 6vh;
    width: 6vh;
}

#inventory .hotkeys.active {
    background: #333d;
}

#inventory .hotkeys>.key {
    align-items: center;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 52%;
    display: flex;
    flex-grow: 1;
    font-size: 1.7vh;
    font-weight: bold;
    justify-content: center;
    transition: background-size 0.3s;
}

#inventory .hotkeys>.key.focus {
    background-color: #222;
    background-size: 70%;
}

#inventory .hotkeys>.key:not(:empty) {
    background: #fff1;
    border-right: 1px solid #777;
}

#inventory .hotkeys>.key:nth-child(1):empty {
    background-image: url('../img/inventory/hotkeys/1.png');
}

#inventory .hotkeys>.key:nth-child(2):empty {
    background-image: url('../img/inventory/hotkeys/2.png');
}

#inventory .hotkeys>.key:nth-child(3):empty {
    background-image: url('../img/inventory/hotkeys/3.png');
}

#inventory .hotkeys>.key:nth-child(4):empty {
    background-image: url('../img/inventory/hotkeys/4.png');
}

#inventory .hotkeys>.key:nth-child(5):empty {
    background-image: url('../img/inventory/hotkeys/5.png');
}

#inventory .hotkeys>.key:nth-child(6):empty {
    background-image: url('../img/inventory/hotkeys/6.png');
}

#inventory .hotkeys>.key:nth-child(7):empty {
    background-image: url('../img/inventory/hotkeys/7.png');
}

#inventory .hotkeys>.key:nth-child(8):empty {
    background-image: url('../img/inventory/hotkeys/8.png');
}

#inventory .hotkeys>.key:nth-child(9):empty {
    background-image: url('../img/inventory/hotkeys/9.png');
}

#inventory .hotkeys>.key:nth-child(10):empty {
    background-image: url('../img/inventory/hotkeys/0.png');
}

#inventory .hotkeys>.key:not(:last-child, :empty) {
    border-right: 1px solid #333;
}

#inventory .item {
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    position: relative;
}

#inventory .item.dragging {
    opacity: 0.4;
}

#inventory .item .close {
    color: #888;
    position: absolute;
    right: -0.8vh;
    top: -0.8vh;
}

#inventory .item .close:hover {
    color: #fff;
}

#inventory .item .count {
    background: #222c;
    bottom: 0;
    color: #fff;
    font-size: 1.7vh;
    font-weight: bold;
    padding: 0.25vh 0.5vh;
    position: absolute;
    right: 0;
}

#inventory .item .health {
    border-left: 2px solid green;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0%;
}

#inventory .item .hotkey {
    background: #222c;
    bottom: -0.6vh;
    padding: 0.25vh 0.5vh;
    position: absolute;
    right: -1.5vh;
}

/* Колесо загрузки в инвентаре */
#inventory .loader {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#inventory .loader .lds-rolling {
    position: absolute;
    animation: login 1s ease-in-out;
}

#inventory .loader .lds-rolling div,
#inventory .loader .lds-rolling div:after {
    position: absolute;
    width: 2vh;
    height: 2vh;
    border: 0.5vh solid #ddd;
    border-top-color: transparent;
    border-radius: 50%;
}

#inventory .loader .lds-rolling div {
    -webkit-animation: lds-rolling 1.2s linear infinite;
    animation: lds-rolling 1.2s linear infinite;
}

#inventory .loader .lds-rolling div:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#inventory .loader .lds-rolling {
    width: 2vh !important;
    height: 2vh !important;
}

#inventory .item .sqlid {
    background: #222c;
    color: #fff;
    font-size: 1.7vh;
    font-weight: bold;
    padding: 0.25vh 0.5vh;
    position: absolute;
    top: 0;
}

#inventory .item-desc {
    background: #111e;
    box-shadow: none;
    font-size: 2vh;
    height: fit-content;
    max-height: 40vh;
    overflow-y: auto;
    position: absolute;
    width: 55vh;
}

#inventory .item-desc .description {
    color: #aaa;
    margin-bottom: 2vh;
}

#inventory .item-desc .item {
    margin: 1vh;
}

#inventory .item-desc .params {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

#inventory .item-desc .params .param {
    line-height: 3vh;
    margin: 2vh;
    margin-top: 0;
}

#inventory .item-desc .params .name {
    font-size: 1.8vh;
    font-weight: bold;
    text-transform: uppercase;
}

#inventory .item-desc .params .value {
    color: #aaa;
}

#inventory .item-desc .title {
    color: #fff;
    font-weight: bold;
}

#inventory .item-drag {
    background: none;
    box-shadow: none;
    pointer-events: none;
    padding: 0;
    position: absolute;
}

#inventory .item-menu {
    background: #111e;
    border: 1px solid #fff4;
    box-shadow: none;
    font-size: 2vh;
    height: fit-content;
    max-height: 40vh;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    width: fit-content;
}

#inventory .item-menu .menu-item {
    display: flex;
    font-weight: bold;
    padding: 1vh 1.5vh;
}

#inventory .item-menu .menu-item:hover {
    background-color: #444;
    /* border-color: #777; */
    color: #fff;
}

#inventory .item-menu .menu-item:not(:last-child) {
    border-bottom: 1px solid #5557;
}

#inventory .item-menu .menu-item .arrow {
    margin-left: 2vh;
    text-align: right;
    width: 100%;
}

#inventory .item-notif {
    background: #111e;
    box-shadow: none;
    font-size: 1.5vh;
    height: fit-content;
    padding: 0.5vh;
    position: absolute;
    width: fit-content;
    z-index: 1;
}

#inventory .items {
    border: 1px solid #555;
    display: grid;
    height: fit-content;
    margin: 0.5vh;
    width: fit-content;
}

#inventory .items .column {
    border-bottom: 1px solid #5557;
    border-right: 1px solid #5557;
    height: 2vh;
    margin-bottom: -1px;
    margin-right: -1px;
    width: 2vh;
}

#inventory .items .column.access {
    background-color: #0007;
}

#inventory .items .column.busy {
    background-color: #00f7;
}

#inventory .items .column.deny {
    background-color: #f001;
}

#inventory .items .column.merge {
    background-color: #0f01;
}

#inventory .items .column.col-bottom {
    /* border-bottom: 1px solid #555; */
}

#inventory .items .column.col-right {
    /* border-right: 1px solid #555; */
}

#inventory .playerInventory {
    grid-row-end: span 7;
    overflow-x: hidden;
    overflow-y: auto;
}

#inventory .playerInventory .container .title {
    color: #aaa;
    font-size: 1.5vh;
}

#inventory .playerInventory .container .header:hover .title {
    color: #fff;
}

#inventory .pockets {
    display: flex;
    flex-flow: wrap;
    /* margin-bottom: 3vh; */
}

#inventory ::-webkit-scrollbar {
    width: 0.5vh;
}

#inventory ::-webkit-scrollbar-thumb {
    /* border-width: 1px 1px 1px 2px; */
    /* border-color: #222; */
    background-color: #555;
}

/* Анимация */
#inventory.spin .item {
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Для карманов */
#inventory .slide-enter-active {
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

#inventory .slide-leave-active {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#inventory .slide-enter-to, .slide-leave {
    max-height: 500px;
    overflow: hidden;
}

#inventory .slide-enter, .slide-leave-to {
    overflow: hidden;
    max-height: 0px;
}
