#killList {
    align-items: flex-end;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: Ubuntu;
    font-size: 1.5vh;
    opacity: 0;
    position: absolute;
    right: 2vh;
    top: 30vh;
}

#killList img {
    margin: 0 2vh;
    width: 2vh;
}

#killList .log {
    align-items: center;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(10, 10, 10, 0.25) 20%, rgba(21, 21, 21, 0) 100%);
    border-radius: 1vh;
    display: flex;
    font-weight: bold;
    margin-bottom: 1vh;
    padding: 1vh 2vh;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
    width: fit-content;
}

#killList .log span {
    color: #cecece;
}
