[v-cloak] {
    display: none;
}

body {
    /* background-image: url('../img/bg.jpg'); */
    background-size: cover;
    font-family: monospace, sans-serif;
    font-size: 1.4vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    user-select: none;
    /* Перспектива */
    perspective: 700px;
    transform-style: preserve-3d;
    perspective-origin: 50% 50%;

    height: 100vh;
}

body input::selection {
    background-color: #FFDF29;
    color: #000;
}

::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 1px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #2e2e2e;
    box-shadow: 0px 0px 3px #000 inset;
}

::-webkit-scrollbar-thumb {
    background-color: #3a3a39;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 0px;
    cursor: pointer;
    height: 0px
}

::-webkit-scrollbar {
    width: 0px;
    cursor: pointer;
}
