#notifications {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: Ubuntu;
    justify-content: flex-end;
    /*height: 60%;*/
    left: 2.7vh;
    width: 60vh;
    min-width: 15vh;
    position: absolute;
    bottom: 21.5%;
    word-wrap: break-word;
}

#notifications .notif-box {
    /*background: linear-gradient(to right, #000a, #0000);*/
    display: flex;
    margin-bottom: 0.8vh;
    border-radius: 1.5vh;
    width: 30vh;
    position: absolute;
    top:-100%;
}

#notifications .notif-box:nth-last-child(-n + 8) { /*maxCount+1*/
    position: relative!important;
}

#notifications > div img {
    margin: 0 2vh 0 1.5vh;
    width: 1.6vh;
}

#notifications > div .header {
    font-weight: bold;
    font-size: 1.3vh;
    margin-left: -0.6vh;
    margin-bottom: 0.3vh;
}

#notifications > div .message {
    font-weight: 400;
    font-size: 1.3vh;
    padding: 1.5vh 0;
    padding-right: 1vh;
}

#notifications .cash.remove,
#notifications .money.remove,
#notifications .error {
    background: linear-gradient(to right, #AC3737, #0000);
    /*border-left: 2px solid #c22;*/
}

#notifications .info {
    background: linear-gradient(to right, #3937AC, #0000);
    /*border-left: 2px solid #23c;*/
}

#notifications .success {
    background: linear-gradient(to right, #37AC4A, #0000);
    /*border-left: 2px solid #3c2;*/
}

#notifications .warning {
    background: linear-gradient(to right, #AC6F37, #0000);
    /*border-left: 2px solid #c82;*/
}

#notifications .money.add {
    background: linear-gradient(to right, #26CE69, #0000);
    /*border-left: 2px solid #c82;*/
}

#notifications .cash.add {
    background: linear-gradient(to right, #E4DD31, #0000);
    /*border-left: 2px solid #c82;*/
}



.notif-enter-active {
  transition: all 0.25s;
  margin-left: 0;
}
.notif-enter {
  margin-left: 100%;
}

.notif-leave-active {
  transition: all 0.5s;
  margin-left: -100%;
}

.notif-leave {
  margin-left: 0;
}
