#offerDialog>div {
    font-family: Ubuntu;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    background: rgba(12, 12, 12, 0.6);
    border-radius: 1vh;
    /*backdrop-filter: blur(0.4vh);*/
    color: #fff;
    text-align: center;
}

#offerDialog .quick {
    bottom: 13.8vh;
    min-height: 5.2vh;
    max-width: 60vh;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    font-size: 1.5vh;
    font-weight: 400;
}

#offerDialog .quick img {
    position: relative;
    height: 3.5vh;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 1.3vh;
    fill: none;
}

#offerDialog .quick svg {
    position: relative;
    height: 3.5vh;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 1.3vh;
    fill: none;
}

#offerDialog .quick svg circle {
    stroke: rgba(255, 255, 255, 0.6);
}

#offerDialog .quick svg .fill {
    fill: none;/*rgba(255, 255, 255, 0.6);*/
    stroke: none;
}

#offerDialog .quick .agree:hover svg circle,
#offerDialog .quick svg.green circle {
    stroke: #00FF19;
}

#offerDialog .quick .agree:hover svg .fill,
#offerDialog .quick svg.green .fill {
    fill: #00FF19;
}

#offerDialog .quick .cancel:hover svg circle,
#offerDialog .quick svg.red circle {
    stroke: #FF2525;
}

#offerDialog .quick .cancel:hover svg .fill,
#offerDialog .quick svg.red .fill {
    fill: #FF2525;
}

#offerDialog .quick .content {
    height: 100%;
}

#offerDialog .quick .content .message {
    margin: 0 2vh;
    height: min-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 1vh 0;
}

#offerDialog .quick .content span {
    font-weight: 500;
}

#offerDialog .quick .content span.money {
    color: #6EE425;
    white-space: nowrap;
}
