#prompt {
    background: rgb(0, 0, 0, 0.6);
    border-radius: 1vh;
    color: white;
    font-family: Ubuntu;
    font-size: 1.3vh;
    position: absolute;
    right: 2vh;
    top: 3vh;
    max-width: 32vh;
    word-break: break-word;
}

#prompt .text {
    padding: 1vh;
    text-align: center;
}

#prompt span {
    background: #FFDF29;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    padding: 0.2vh 0.5vh;
}
