#speedometer {
    /*background: linear-gradient(to bottom, #0000, rgb(0, 0, 0, 0.6));*/
    background: rgba(12, 12, 12, 0.6);
    border-radius: 50% 50%  5% 5% / 90% 90% 10% 10%;
    bottom: 9.3vh;
    color: #fff;
    font-family: Ubuntu;
    height: 12.4vh;
    position: absolute;
    right: 1.8vh;
    width: 25vh;
}

#speedometer b {
    background: #000;
}

#speedometer.noActive {
    color: #7778!important;
}

#speedometer.noActive svg {
    filter: drop-shadow(0 0 0 #000)!important;
}

#speedometer.noActive svg path {
    fill: #7778!important;
}

#speedometer .scale {
    position: absolute;
    height: 95%;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
}

#speedometer .scale path {
    fill: #fff;
    fill-rule: evenodd;
}

#speedometer .scale .fill {
    fill: #ff2929;
}

#speedometer .red {
    fill: #F51B1B!important;
    filter: drop-shadow(0 0 0.5vh #F51B1B);
}

#speedometer .green {
    fill: #51FF25!important;
    filter: drop-shadow(0 0 0.5vh #51FF25);
}

#speedometer .yellow {
    fill: #FFDF29!important;
    filter: drop-shadow(0 0 0.5vh #FFDF29);
}

#speedometer .orange {
    fill: #F5771B!important;
    filter: drop-shadow(0 0 0.5vh #F5771B);
}

#speedometer .white {
    fill: white!important;
    filter: drop-shadow(0 0 0.5vh white);
}

#speedometer .content {
    position: relative;
    width: 80%;
    margin-top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 2.5fr 1fr 1fr;
    grid-template-rows: 2vh 3vh 3vh;
    grid-gap: 1px;
    left: 50%;
    transform: translate(-50%);
}

#speedometer .content svg {
    position: relative;
    left: 50%;
    fill: rgba(255, 255, 255, 0.2);
    transform: translate(-50%);
    height: 90%;
    width: 90%;
}

#speedometer .content .speed {
    grid-row: 1/3;
    grid-column: 3/4;
    font-size: 3.5vh;
    line-height: 2.6vh;
    text-align: center;
}

#speedometer .content .speed .value {
    font-weight: bold;
}

#speedometer .content .speed .unit {
    font-size: 1.3vh;
    font-weight: 400;
    margin-top: -0.2vh;
}

#speedometer .headlights {
    grid-row: 2/3;
    grid-column: 1/2;
    top: 10%;
}

#speedometer .headlights svg {
    top: -15%;
}

#speedometer .lock {
    grid-row: 2/3;
    grid-column: 2/3;
}

#speedometer .lock svg {
    height: 65%!important;
    /*width: 85%!important;*/
}

#speedometer .fuel {
    grid-row: 2/3;
    grid-column: 4/5;
}

#speedometer .fuel svg {
    height: 60%;
    top: 7%;
    left: 54%;
}

#speedometer .fuel-unit {
    grid-row: 1/2;
    grid-column: 4/5;
    font-size: 1.1vh;
    text-align: center;
    font-weight: 400;
    margin-top: 30%;
}

#speedometer .danger {
    grid-row: 2/3;
    grid-column: 5/6;
}

#speedometer .danger svg {
    height: 50%;
    top: 10%;
    left: 40%;
}

#speedometer .left-arrow {
    grid-row: 3/4;
    grid-column: 1/3;
}

#speedometer .left-arrow svg {
    height: 55%;
    margin-left: 3%;
}

#speedometer .right-arrow {
    grid-row: 3/4;
    grid-column: 4/6;
    left: 60%!important;
}

#speedometer .right-arrow svg {
    height: 55%;
    left: 40%!important;
}

#speedometer .bottom-panel {
    grid-row: 3/4;
    grid-column: 3/4;
    grid-template-columns: 20% 5fr;
    display: grid;
    white-space: nowrap;
    text-align: center;
    font-weight: 400;
    font-size: 1.3vh;
    margin-top: 1%;
}

#speedometer .bottom-panel .road-perspective {
    margin-left: -85%;
    height: 41%;
}
