@font-face {
    font-family: phone-font;
    src: url("./sf.ttf") format("truetype");
}

@font-face {
    font-family: bank-font;
    src: url("./DINAlternateBold.ttf") format("truetype");
}

@font-face {
    font-family: main-font;
    src: url("./main.otf") format("opentype");
}